.show-game {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 4em;
  box-sizing: border-box;
  padding: 1em;
}

.show-game .players-list {
  border-radius: 5px;
  border: 1px solid grey;
  box-sizing: border-box;
  padding: 1em;
}

.room-title {
  color: grey;
  text-decoration: underline;
}

.room-button {
  display: inline-block;
  margin-left: 1em;
}